/* color variables */
$black:       #000000;
$gray:        #767879;
$white:       #ffffff;
$red:         #D81E05;
$red_dark:    #c82b35;
$_red_orange: #df552a;
$maroon:      #5f1e1d;
$orange:      #e67631;
$yellow:      #ffe262;

/* font variables */
$font-sans:               'Helvetica', 'Arial', sans-serif;