
/* color variables */
$tb_black:      #000000; // Black
$tb_gray:       #767879; // Gray
$tb_white:      #ffffff; // White
$tb_red:        #D81E05; // PMS 485
$tb_red_dark:   #c82b35; // PMS 187
$tb_red_orange: #df552a; // PMS 1665
$tb_maroon:     #5f1e1d; // PMS 181
$tb_orange:     #e67631; // PMS 158
$tb_yellow:     #ffe262; // PMS 1205

/* font variables */
$font-sans:               'Helvetica', 'Arial', sans-serif;
$font-din-eng:            'DINEngschriftStd';
$font-knockout:           'KnockoutHTF49Liteweight'; /* doesn't work for firefox locally due to server issues */
$font-museo-300:          'Museo300';
$font-museo-500:          'Museo500';
$font-museo-700:          'Museo700';
$font-museo-slab-700:     'MuseoSlab700Regular';
$font-museo-slab-900:     'MuseoSlab900';
$font-wisdom-script:      'WisdomScriptAiregular';