
<div class="umb-panel umb-modal" ng-controller="DtpScssEditor.ScssEditorEditController">

    <div class="umb-panel-body no-header with-footer">
        <input name="ctl00$body$tagName" type="hidden" id="body_tagName" value="umbraco:Item">
        <div class="umb-pane " style="">
            <h5 class="umb-pane-title">Import SCSS File</h5>
            {{importString}}
            <umb-tree section="settings"
                      treealias="dtpScssEditorTree"
                      hideheader="true"
                      hideoptions="true"
                      isdialog="true"
                      enablecheckboxes="true"
                      customtreeparams=""
                      eventhandler="dialogTreeEventHandler">
            </umb-tree>

        </div>
    </div>
    <div class="umb-panel-footer">
        <div class="btn-toolbar dtp-btn-toolbar">
            <a id="cancelButton" href="#" class="btn btn-link" ng-click="closeDialog($event)">
                Cancel
            </a>
            <input id="submitButton" type="button" name="gem" class="btn btn-primary" value="Insert" ng-click="insertImport()">
        </div>
    </div>
</div>
