
<div class="umb-panel umb-modal" ng-controller="DtpScssEditor.ScssEditorEditController">
    <div class="umb-panel-body no-header with-footer">
        <input name="ctl00$body$tagName" type="hidden" id="body_tagName" value="umbraco:Item">

        <div class="umb-pane " style="">
            <h5 class="umb-pane-title">CSS Preview</h5>
        </div>
        <textarea ng-model="scssFile.css" style="width: 100%; height: 80%; white-space:nowrap;" readonly></textarea>
    </div>

    <div class="umb-panel-footer">
        <div class="btn-toolbar dtp-btn-toolbar">
            <a id="cancelButton" href="#" class="btn btn-primary" ng-click="closeDialog($event)">
                Close
            </a>
        </div>
    </div>

</div>
