<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Scss Editor version -->
    <add key="dtpScssEditor:Version" value="0.01"/>
    <!-- Root directory location of your SCSS file -->
    <add key="dtpScssEditor:Root" value="~/scss/"/>
    <!-- When set to true dtpScssEditor:DeleteEmptyDirectory will not allow the deletion of directories that are not empty. -->
    <add key="dtpScssEditor:DeleteEmptyDirectory" value="true"/>
  </appSettings>
</configuration>
